.menuItemsList {
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  min-width: 140px;
}

.dropMob {
  display: none;
}

.menuItem {
  padding: 10px 20px 0 20px;
}

.menuItem:last-child .divider {
  visibility: hidden;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

.menuContent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.menuContent svg {
  margin-right: 4px;
}

.menuContent path {
  transition: fill 0.3s ease-in-out;
}

.menuClose {
  padding: 11px 0;
  background-color: var(--greyD9);
  text-align: center;
}


@media all and (min-width: 1024px) {
  .menuItemsList {
    width: 157px;
  }

  .dropMob {
    display: list-item;
  }
}

@media all and (min-width: 1540px) {

  .menuClose {
    display: none;
  }

  .menuItem:hover > div {
    color: var(--orange);
  }

  .menuItem:hover path{
    fill: var(--orange);
  }


}
